################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CLOCKWORK/FileContentIndex
ClockWorkHorrors/Assets/Scenes/SampleScene.unity
ClockWorkHorrors/Assets/Scripts/buttonFunctions.cs
*.unity
*.mat
*.prefab
*.cs
*.unity
